---
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import IconReact from "@assets/icons/react.astro";
import Footer from "@components/Footer.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;

const { data, slug } = project;
const { title, description, image_desktop, image_mobile, github, website } =
  data;

const { Content } = await render(project);
export const prerender = true;
---

<Layout
  title="Project - Software Developer"
  description="¡Bienvenido a mi portafolio! Soy un apasionado desarrollador de software con seis años de experiencia. Explora mi perfil para descubrir proyectos innovadores, soluciones creativas y mi dedicación para crear software de calidad. ¡Conoce más sobre mi trayectoria y habilidades en el mundo del desarrollo de software!"
>
  <Navbar />
  <main class="px-10 py-7 md:px-20 xl:px-72">
    <section>
      <h1
        class="text-3xl font-bold text-[#7477FF]"
        transition:name={`name-${title}`}
      >
        {title}
      </h1>

      <img
        transition:name={`img-${slug}`}
        src={image_desktop}
        alt={`Imagen demostrativa versión escritorio del sitio web ${title}`}
        class="mt-5 hidden w-full rounded-lg lg:block"
      />
      <img
        transition:name={`img-${slug}`}
        src={image_mobile}
        alt={`Imagen demostrativa versión mobile del sitio web ${title}`}
        class="mt-5 block w-full rounded-lg lg:hidden"
      />
    </section>
    <section>
      <h2 class="mt-8 text-2xl font-bold text-[#7477FF]">Descripción</h2>
      <div class="prose prose-invert max-w-none">
        <Content />
      </div>
      <h2 class="mt-8 text-2xl font-bold text-[#7477FF]">Tecnologías</h2>
      <ul>
        <li>
          <IconReact
            className="size-8 brightness-75 transition-all duration-300 hover:scale-105 hover:brightness-100"
          />
        </li>
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
