---
import { Image } from "astro:assets";
import ProfilePicture from "@assets/img/profile.webp";
// import IconJavaScript from "@assets/icons/javascript.svg";
// import IconTypeScript from "@assets/icons/typescript.svg";
// import IconReact from "@assets/icons/react.svg";
// import IconAstro from "@assets/icons/astro.svg";
---

<section
  class="flex flex-row justify-between gap-8 px-10 py-20 md:px-20 xl:px-72"
>
  <div class="hidden lg:block">
    <Image
      class="rounded-xl shadow-md"
      src={ProfilePicture}
      alt="Imagen de perfil de Matias, tomando una taza de café"
      width={600}
    />
  </div>
  <div class="w-fit">
    <h2
      class="mb-5 w-fit border-b-4 border-solid border-b-[#7477FF] text-2xl font-bold text-white"
    >
      Sobre Mí
    </h2>
    <p class="text-md text-pretty text-white">
      Desarrollador de software con seis años de experiencia y una pasión
      constante por aprender. Consumo activamente contenido de desarrollo en
      YouTube para mantenerme actualizado. Además de mis sólidas habilidades
      técnicas, me destaco por ser proactivo y adaptable. Mi capacidad para
      trabajar en equipos, comunicarme claramente y fomentar la colaboración ha
      sido clave en mi carrera. Si buscas un desarrollador con experiencia
      técnica y habilidades blandas excepcionales, estoy entusiasmado por la
      oportunidad de contribuir a tu equipo.
      <br />¡Espero hablar más sobre cómo puedo aportar a tus proyectos!
    </p>
    <section>
      <h3 class="text-lg mt-5 font-bold text-white">
        Tecnologías con las que he trabajado
      </h3>
      <div class="mt-5 flex flex-row gap-3">
        <!-- <Image
          class="brightness-75 transition-all duration-300 hover:scale-105 hover:brightness-100"
          src={IconJavaScript}
          alt="Imagen de perfil de Matias, tomando una taza de café"
          width={30}
        />
        <Image
          class="brightness-75 transition-all duration-300 hover:scale-105 hover:brightness-100"
          src={IconTypeScript}
          alt="Imagen de perfil de Matias, tomando una taza de café"
          width={30}
        />
        <Image
          class="brightness-75 transition-all duration-300 hover:scale-105 hover:brightness-100"
          src={IconReact}
          alt="Imagen de perfil de Matias, tomando una taza de café"
          width={30}
        />
        <Image
          class="brightness-75 transition-all duration-300 hover:scale-105 hover:brightness-100"
          src={IconAstro}
          alt="Imagen de perfil de Matias, tomando una taza de café"
          width={30}
        />
        <Image
          class="brightness-75 transition-all duration-300 hover:scale-105 hover:brightness-100"
          src={IconJavaScript}
          alt="Imagen de perfil de Matias, tomando una taza de café"
          width={30}
        /> -->
      </div>

      <!-- TO DO: -->
      <!-- DEJAR ICONOS EN UN ARRAY MAP -->
    </section>
  </div>
</section>
