---
import IconGithub from "@assets/icons/github.astro";
import IconWebSite from "@assets/icons/world.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
console.log(projects);
---

<section
  id="proyectos"
  class="flex flex-col justify-between gap-8 bg-[#1E293B] px-10 py-20 md:px-20 xl:px-72"
>
  <div class="w-fit">
    <h2
      class="mb-5 w-fit border-b-4 border-solid text-2xl font-bold text-white"
    >
      Proyectos
    </h2>
    <h3 class="group relative mb-3 w-fit text-xl font-bold text-[#7477FF]"></h3>
  </div>
  <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
    {
      projects.map((project) => (
        <article class="mb-5 border-b border-[#7477FF] lg:border-none">
          <div class="header">
            <h3
              class="group relative mb-3 w-fit text-xl font-bold text-[#7477FF]"
              transition:name={`name-${project.data.title}`}
            >
              {project.data.title}
            </h3>
            <p class="text-md mb-5 text-pretty text-white">
              {project.data.description}
            </p>
          </div>
          <div class="body">
            <a href={project.data.slug}>
              <img
                transition:name={`img-${project.data.slug}`}
                src={project.data.image_desktop}
                alt={`Imagen demostrativa versi칩n escritorio del sitio web ${project.data.title}`}
                class="mt-5 hidden w-full rounded-lg brightness-50 transition-all duration-300 hover:brightness-100 lg:block"
              />
              <img
                transition:name={`img-${project.slug}`}
                src={project.data.image_mobile}
                alt={`Imagen demostrativa versi칩n mobile del sitio web ${project.data.title}`}
                class="mt-5 block w-full rounded-lg brightness-50 transition-all duration-300 hover:brightness-100 lg:hidden"
              />
            </a>
          </div>
          <div class="footer">
            <a href={project.slug}>
              <p class="text-lg group relative mb-3 mt-4 w-fit text-[#7477FF] transition-colors duration-500 hover:text-white">
                M치s informaci칩n
                <span class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full" />
              </p>
            </a>
            <ul class="my-7 flex flex-row gap-3">
              <li>
                <a
                  class="hover:animate-pulse"
                  href={project.data.github}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visitar el repositorio Github de Cheffify"
                >
                  <IconGithub className="size-6" color="#fff" />
                </a>
              </li>
              <li>
                <a
                  href={project.data.website}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visitar el sitio web de Cheffify"
                >
                  <IconWebSite className="size-6" color="#fff" />
                </a>
              </li>
            </ul>
          </div>
        </article>
      ))
    }
  </div>
</section>
